@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "base";
@import "components";

:root {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  font-display: swap;
}
